<section class="s-about-me">
  <img src="assets/profile.png.png" alt="" />
  <div class="right-about">
    <app-section-title
      numberPage="01."
      titlePage="Sobre Mim"
    ></app-section-title>
    <p>
      Olá, meu nome é Kelven Wyllames, tenho 24 anos. Sou um jovem apaixonado
      por desafios e em constante busca por novos conhecimentos. Atualmente
      minha stack atual abrange tecnologias e ferramentas como HTML5, CSS3,
      JavaScript, Angular, TypeScript, Git, GitHub e Figma. Além disso, estou
      imerso em estudos contínuos, aprimorando-me em SASS, Bootstrap e Java para
      ampliar ainda mais minhas habilidades e abordar desafios mais complexos.
      Estou entusiasmado em contribuir para a comunidade de desenvolvedores e em
      enfrentar os desafios emocionantes que o mundo da programação oferece.
    </p>
    <div class="social-flex-profile">
      <div class="bg-social-profile">
        <a
          href="http://instagram.com/kelvenwyllames/"
          target="_blank"
          class="instagram"
        >
          <i class="icon fa-brands fa-instagram"></i>
        </a>
      </div>

      <div class="bg-social-profile">
        <a
          href="http://github.com/kelvenwyllames"
          target="_blank"
          class="github"
        >
          <i class="icon fa-brands fa-github"></i>
        </a>
      </div>

      <div class="bg-social-profile">
        <a
          href="https://www.linkedin.com/in/kelvenwyllames/"
          target="_blank"
          class="linkedin"
        >
          <i class="icon fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</section>
