<article class="social-media">
  <div class="social-media-icon">
    <a href="http://" target="_blank">
      <i class="fa-brands fa-github icon"></i>
    </a>
    <h2>GitHub</h2>
    <p>Kelven Wyllames</p>
  </div>
  <div class="social-media-icon">
    <a href="http://" target="_blank">
      <i class="fa-brands fa-linkedin icon"></i>
    </a>
    <h2>Linkedin</h2>
    <p>Kelven Wyllames</p>
  </div>
  <div class="social-media-icon">
    <a href="http://" target="_blank">
      <i class="fa-brands fa-instagram icon"></i>
    </a>
    <h2>Instagram</h2>
    <p>Kelven Wyllames</p>
  </div>
</article>
