<footer id="fale-comigo" class="container">
  <span class="name-logo">Kelven Wyllames<span class="point">.</span></span>
  <span class="icon">
    <a
      href="https://www.instagram.com/kelvenwyllames/"
      target="_blank"
      rel="e-mail"
    >
      <i class="fa-solid fa-envelope icon"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/kelvenwyllames/"
      target="_blank"
      rel="linkedin"
    >
      <i class="fa-brands fa-linkedin icon"></i>
    </a>
    <a href="https://github.com/kelvenwyllames" target="_blank" rel="github"
      ><i class="fa-brands fa-github icon"></i
    ></a>
    <a
      href="https://www.instagram.com/kelvenwyllames/"
      target="_blank"
      rel="instagram"
      ><i class="fa-brands fa-instagram icon"></i
    ></a>
  </span>
  <span>
    <i class="fa-regular fa-copyright icon-copyright"></i>
    <span
      >Kelven Wyllames.
      <span class="reserved"
        >All rights reserved<span class="point">.</span></span
      ></span
    >
  </span>
</footer>
