nav
  width: 100%
  height: 3rem
  display: flex
  align-items: center
  justify-content: space-evenly

  h2
    color: #fff

  .links
    display: flex
    gap: 2rem

    a
      text-decoration: none
      color: #fff
  
  .toggle_btn
    position: static
    display: none
    cursor: pointer
    font-size: 1.5rem
    color: #fff

  .social
    display: flex
    gap: 0.4rem

    a
      width: 2rem
      height: 2rem
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.3rem
      text-decoration: none
      border-radius: 0.2rem
      color: #fff
      background: #a1300b96

      &:hover
        background: #a1310b

  .dropdown_menu
    position: absolute
    display: none
    height: 0
    top: 60px
    border-radius: 0.6rem
    background: rgba(255, 255, 255, 0.1)
    backdrop-filter: blur(15px)
    overflow: hidden
    transition: 600ms

    a
      display: flex
      justify-content: center
      align-items: center
      padding: 0.7rem
      text-decoration: none
      color: #fff
  
  .dropdown_menu.open
    height: 15rem

@media (max-width: 992px)
  nav
    .links
      display: none
    
    .toggle_btn
      display: block

    .dropdown_menu
      display: block
      width: 96%