<nav>
  <h2 (click)="scrollToElement('nav-header')">Kelven</h2>
  <div class="links">
    <a (click)="scrollToElement('nav-header')">Início</a>
    <a (click)="scrollToElement('nav-about')">Sobre Mim</a>
    <a (click)="scrollToElement('nav-skills')">Tecnologias</a>
    <a (click)="scrollToElement('nav-projects')">Projetos</a>
    <a (click)="scrollToElement('nav-certificate')">Certificados</a>
    <a (click)="scrollToElement('nav-footer')">Fale Comigo</a>
  </div>
  <div class="social">
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </div>

  <div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="dropdown_menu open">
    <a (click)="scrollToElement('nav-header')">Início</a>
    <a (click)="scrollToElement('nav-about')">Sobre Mim</a>
    <a (click)="scrollToElement('nav-skills')">Tecnologias</a>
    <a (click)="scrollToElement('nav-projects')">Projetos</a>
    <a (click)="scrollToElement('nav-certificate')">Certificados</a>
    <a (click)="scrollToElement('nav-footer')">Fale Comigo</a>
  </div>
</nav>
