<nav>
  <div class="links">
    <a href="#">Início</a>
    <a href="#">Sobre Mim</a>
    <a href="#">Tecnologias</a>
    <a href="#">Projetos</a>
    <a href="#">Certificados</a>
    <a href="#">Fale Comigo</a>
    <span></span>
  </div>

  <div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="dropdown_menu">
    <a href="#">Início</a>
    <a href="#">Sobre Mim</a>
    <a href="#">Tecnologias</a>
    <a href="#">Projetos</a>
    <a href="#">Certificados</a>
    <a href="#">Fale Comigo</a>
    <span></span>
  </div>
</nav>
