@import ../../variables

.s-header
    width: $element-width
    height: 624px
    @include flexbox
    gap: 2rem

    h1
        display: flex
        flex-direction: column
        height: 150px
        color: $color-light

        :nth-child(1)
            font-size: 1rem
            font-weight: 400
        
        :nth-child(2)
            background: $primary-linear-gradient
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: 4.4rem
            font-weight: 800

        :nth-child(3)
            font-size: 2.5rem
            font-weight: 600
    
    img
        width: 18rem
        animation: swinging 2s linear 0s infinite normal none

        @keyframes swinging
            0%
                transform: translate(0)

            20%
                transform: translate(-2px, 2px)

            40%
                transform: translate(-2px, -2px)

            60%
                transform: translate(2px, 2px)

            80%
                transform: translate(2px, -2px)

            100%
                transform: translate(0)

@media (max-width: 992px)
    .s-header
        margin-top: 10rem
        flex-direction: column
        h1
            :nth-child(2)
                font-size: 4.6rem

            :nth-child(3)
                font-size: 2.6rem

        img
            width: 14rem


@media (max-width: 768px)
    .s-header
        margin-top: 8rem  
        h1
            :nth-child(2)
                font-size: 3.7rem

            :nth-child(3)
                font-size: 2.3rem

        img
            width: 12rem

@media (max-width: 576px)
    .s-header
        margin-top: 7rem
        h1
            :nth-child(2)
                font-size: 2.9rem

            :nth-child(3)
                font-size: 1.7rem

        img
            width: 9rem

@media (max-width: 440px)
    .s-header
        margin-top: 5rem
        h1
            :nth-child(1)
                font-size: 0.8rem

            :nth-child(2)
                font-size: 2rem

            :nth-child(3)
                font-size: 1.2rem

        img
            width: 7rem