<div class="box-certificates">
  <img src="{{ certificatesimg }}" alt="{{ certificatesalt }}" />

  <div class="container-text">
    <h4>{{ certificatestitle }}</h4>

    <p>
      {{ certifiicatesdescription }}
    </p>

    <div class="skills-certificates">
      <img
        src="{{ certificatesskillsimg1 }}"
        alt="{{ certificatesskillsalt1 }}"
      />

      <img
        src="{{ certificatesskillsimg2 }}"
        alt="{{ certificatesskillsalt2 }}"
      />

      <img
        src="{{ certificatesskillsimg3 }}"
        alt="{{ certificatesskillsalt3 }}"
      />

      <img
        src="{{ certificatesskillsimg4 }}"
        alt="{{ certificatesskillsalt4 }}"
      />

      <img
        src="{{ certificatesskillsimg5 }}"
        alt="{{ certificatesskillsalt5 }}"
      />

      <img
        src="{{ certificatesskillsimg6 }}"
        alt="{{ certificatesskillsalt6 }}"
      />

      <img
        src="{{ certificatesskillsimg7 }}"
        alt="{{ certificatesskillsalt7 }}"
      />

      <img
        src="{{ certificatesskillsimg8 }}"
        alt="{{ certificatesskillsalt8 }}"
      />

      <img
        src="{{ certificatesskillsimg9 }}"
        alt="{{ certificatesskillsalt9 }}"
      />

      <img
        src="{{ certificatesskillsimg10 }}"
        alt="{{ certificatesskillsalt10 }}"
      />

      <img
        src="{{ certificatesskillsimg11 }}"
        alt="{{ certificatesskillsalt11 }}"
      />

      <img
        src="{{ certificatesskillsimg12 }}"
        alt="{{ certificatesskillsalt12 }}"
      />

      <img
        src="{{ certificatesskillsimg13 }}"
        alt="{{ certificatesskillsalt13 }}"
      />

      <img
        src="{{ certificatesskillsimg14 }}"
        alt="{{ certificatesskillsalt14 }}"
      />
    </div>
  </div>
</div>
