@import ../../variables

.s-projects
    width: $element-width
    height: $element-height
    @include flexbox
    flex-direction: column
    margin-top: $secondary-margin-top

    .sub-title-projects 
        padding: 2rem

    .grid-projects
        display: grid
        grid-template-columns: repeat(3, 2fr)
        gap: 4.5rem

    button
        color: $color-light !important
        font-size: 1rem
        padding: 10px 25px
        border-radius: 4px
        margin-top: 5rem
        cursor: pointer
        border: 0px solid $color-light
        background: $primary-color-background
        transition: 600ms

        &:hover
            background: $primary-color-background
            transform: scale(0.95)

.s-certificates
    width: $element-width
    height: $element-height
    @include flexbox
    flex-direction: column
    margin-top: $secondary-margin-top
    background: #111111

    app-certificates
        display: flex
        gap: 1.5rem

@media (max-width: 1400px)
    .s-projects
        .grid-projects
            grid-template-columns: repeat(2, 2fr)
            grid-template-rows: repeat(2, 1fr)

@media (max-width: 992px)
    .s-projects
        .grid-projects
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: repeat(1, 1fr)
            


