<div class="card-project">
  <div>
    <img src="{{ imgproject }}" alt="{{ altimgproject }}" width="100%" />
  </div>
  <div class="card-project-technology">
    <h2>{{ titleproject }}</h2>
    <div class="card-project-technology-icons">
      <div class="card-project-icons-tool" data-name="HTML5">
        <img src="{{ imgskills1 }}" alt="{{ altskills1 }}" />
        <span class="card-project-tooltip">HTML5</span>
      </div>
      <div class="card-project-icons-tool" data-name="HTML5">
        <img src="{{ imgskills2 }}" alt="{{ altskills2 }}" />
        <span class="card-project-tooltip">HTML5</span>
      </div>
      <div class="card-project-icons-tool" data-name="HTML5">
        <img src="{{ imgskills3 }}" alt="{{ altskills3 }}" />
        <span class="card-project-tooltip">HTML5</span>
      </div>
      <div class="card-project-icons-tool" data-name="HTML5">
        <img src="{{ imgskills4 }}" alt="{{ altskills4 }}" />
        <span class="card-project-tooltip">HTML5</span>
      </div>
      <div class="card-project-icons-tool" data-name="HTML5">
        <img src="{{ imgskills5 }}" alt="{{ altskills5 }}" />
        <span class="card-project-tooltip">HTML5</span>
      </div>
    </div>
  </div>
</div>
